.color-blue{
	color: #3a8dcc;
}
.color-red{
	color: red;
}
.color-gris{
	color: #888;
}
.font-italic{
	font-style: italic;
}
.fdo{
	background-color: #efeff4 !important;
}

.content-block-title {
	margin: 10px 15px 10px;
	text-align: center;
	font-weight: bold;
}
.list-block {
	margin: 2% 0 0 0;
	font-size: 17px;
}
.list-block ul{
	border-top: 1px solid #DCDBDF;
	border-bottom: 1px solid #DCDBDF;
}
.list-block .item-inner {
	/*border-bottom: 1px solid #c8c7cc;*/
	border-bottom: 1px solid #DCDBDF;
}

.navbar {
    background: none repeat scroll 0 0 #3a8dcc;
    border-bottom: medium none;
    background-color:#009eda; background-image: -moz-radial-gradient(50% 0%, circle cover, #009eda, #2151a3 100%); background-image: -webkit-radial-gradient(50% 0%, circle cover, #009eda, #2151a3 100%); background-image: -o-radial-gradient(50% 0%, circle cover, #009eda, #2151a3 100%); background-image: -ms-radial-gradient(50% 0%, circle cover, #009eda, #2151a3 100%); background-image: radial-gradient(50% 0%, circle cover, #009eda, #2151a3 100%)
}
.navbar img {
	width: 100px;
	margin: auto 0;
}
.toolbar-through .page-content, .toolbar-fixed .page-content, .tabbar-through .page-content, .tabbar-fixed .page-content {
	padding-bottom: 2%;
} 
.page{
	/* background-color: #E9E9EF !important;*/
	background-color: #DDDDE6 !important;
}
.panel {
  /*background: #7a9dbb;*/
    background: #3a8dcc;
}
.panel ul {
  border-bottom: 0px;
  border-top: none;
}
.panel .list-block .item-content {
  background: #3a8dcc;
  border-bottom: none;
}
.panel .list-block .item-link:active {
  background-color: #2E79B1;
}
.panel .list-block .item-link .item-inner {
  background: none;
  border-bottom: 0px;
}
.panel .list-block .item-title {
  color: #fafafa;
}
.panel .list-block i {
  color: #fafafa;
  font-size: 25px;
  font-weight: 100;
}
.margin-right{
	margin-right: 10px;
}
.border-bottom{
	border-bottom: 1px solid #ccc;
}